body{
	background-color: #dddddd;
}
#content{
	margin:auto;
	width: 960px;
}
#header{
	width: 100%
	float: left;
	height: 300px;
	background-image: url(logo.jpg);
}
#main-content{
	width: 100%;
	min-height: auto;
}
#side-menu{
	width: 30%;
	height: 800px;
	overflow: auto;
	float: left;
	background-color: #00c574 ;
}
#menu{
	width: 70%;
	height: 800px;
	overflow: auto;
	float: left;
	background-color:#afffde;
}#footer{
	text-align: center;
	color: orange;
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
}
#italic{
	font-style: italic;
}
table{
	border-collapse: collapse;
}
table, th, td{
	border: 1px solid black;
}
th, td{
	padding: 10px;
	background-color: white;
}

p{
	text-align: center;
	font-family: courier;
	text-indent: 10px;
}
